@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100vw;
  background-color: theme('backgroundColor.stone.50');
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}
